In [25]:
#importing tools to do statistics and data manipulation
import numpy as np
import pandas as pd

In [26]:
#Reads in ACLED DATASET
data = pd.read_excel('USA_2020_Oct03update.xlsx')

In [4]:
data.head()

,ISO,EVENT_ID_CNTY,EVENT_ID_NO_CNTY,EVENT_DATE,YEAR,TIME_PRECISION,EVENT_TYPE,SUB_EVENT_TYPE,ACTOR1,ASSOC_ACTOR_1,...,ADMIN2,ADMIN3,LOCATION,LATITUDE,LONGITUDE,GEO_PRECISION,SOURCE,SOURCE_SCALE,NOTES,FATALITIES
0,840,USA4524,4524,2020-05-24,2020,1,Protests,Peaceful protest,Protesters (United States),NaN,...,Baltimore City,NaN,Baltimore,39.290,-76.612,1,Fox45 (Baltimore),Subnational,"On 24 May 2020, a caravan of people staged a m...",0
1,840,USA4525,4525,2020-05-24,2020,1,Protests,Peaceful protest,Protesters (United States),NaN,...,Williamson,NaN,Marion,37.731,-88.933,1,Southern Illinoisan,Subnational,"On 24 May 2020, nearly 50 people held a ""Patri...",0
2,840,USA4526,4526,2020-05-24,2020,1,Protests,Peaceful protest,Protesters (United States),NaN,...,Mahoning,NaN,Youngstown,41.100,-80.650,1,WKBN,Subnational,"On 24 May 2020, an unreported number of people...",0
3,840,USA4527,4527,2020-05-24,2020,1,Protests,Peaceful protest,Protesters (United States),Teachers (United States); Latinx Group (United...,...,Middlesex,NaN,New Brunswick,40.486,-74.452,1,My Central Jersey,Subnational,"On 24 May 2020, more than a dozen vehicles, or...",0
4,840,USA4528,4528,2020-05-24,2020,1,Protests,Peaceful protest,Protesters (United States),NaN,...,Essex,NaN,Keene,44.256,-73.792,1,Post-Star,Subnational,"On 24 May 2020, a few people staged a protest ...",0

In [5]:
data.describe()

,ISO,EVENT_ID_NO_CNTY,YEAR,TIME_PRECISION,INTER1,INTER2,INTERACTION,ADMIN3,LATITUDE,LONGITUDE,GEO_PRECISION,FATALITIES
count,14012.0,14012.000000,14012.0,14012.000000,14012.000000,14012.000000,14012.000000,0.0,14012.000000,14012.000000,14012.000000,14012.000000
mean,840.0,7077.432201,2020.0,1.008635,5.854767,0.384599,55.924351,NaN,38.499635,-92.287411,1.014702,0.003854
std,0.0,4092.840440,0.0,0.092528,0.662604,1.336113,12.937643,NaN,5.180939,17.488520,0.159170,0.065326
min,840.0,1.000000,2020.0,1.000000,1.000000,0.000000,10.000000,NaN,19.640000,-165.399000,1.000000,0.000000
25%,840.0,3512.750000,2020.0,1.000000,6.000000,0.000000,60.000000,NaN,35.046000,-104.856000,1.000000,0.000000
50%,840.0,7095.500000,2020.0,1.000000,6.000000,0.000000,60.000000,NaN,39.290000,-86.802000,1.000000,0.000000
75%,840.0,10630.250000,2020.0,1.000000,6.000000,0.000000,60.000000,NaN,41.850000,-78.899000,1.000000,0.000000
max,840.0,14138.000000,2020.0,2.000000,7.000000,8.000000,70.000000,NaN,71.291000,-67.461000,3.000000,2.000000

In [ ]:
# Questions to explore
# 1. How many demonstrations resulted in 2 deaths?

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14012 entries, 0 to 14011
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ISO               14012 non-null  int64
 1   EVENT_ID_CNTY     14012 non-null  object
 2   EVENT_ID_NO_CNTY  14012 non-null  int64
 3   EVENT_DATE        14012 non-null  datetime64[ns]
 4   YEAR              14012 non-null  int64
 5   TIME_PRECISION    14012 non-null  int64
 6   EVENT_TYPE        14012 non-null  object
 7   SUB_EVENT_TYPE    14012 non-null  object
 8   ACTOR1            14012 non-null  object
 9   ASSOC_ACTOR_1     11343 non-null  object
 10  INTER1            14012 non-null  int64
 11  ACTOR2            1760 non-null   object
 12  ASSOC_ACTOR_2     437 non-null    object
 13  INTER2            14012 non-null  int64
 14  INTERACTION       14012 non-null  int64
 15  REGION            14012 non-null  object
 16  COUNTRY           14012 non-null  object
 17  ADMIN1            14012 non-null  object
 18  ADMIN2            14008 non-null  object
 19  ADMIN3            0 non-null      float64
 20  LOCATION          14012 non-null  object
 21  LATITUDE          14012 non-null  float64
 22  LONGITUDE         14012 non-null  float64
 23  GEO_PRECISION     14012 non-null  int64
 24  SOURCE            14012 non-null  object
 25  SOURCE_SCALE      14012 non-null  object
 26  NOTES             14012 non-null  object
 27  FATALITIES        14012 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(9), object(15)
memory usage: 3.0+ MB

In [7]:
# Getting all rows where there were 2 fatalities
demonstrate_2_fatal=data.loc[data['FATALITIES'] == 2]

In [8]:
# First look at what is left when filtering for 2 deaths
demonstrate_2_fatal.head()

,ISO,EVENT_ID_CNTY,EVENT_ID_NO_CNTY,EVENT_DATE,YEAR,TIME_PRECISION,EVENT_TYPE,SUB_EVENT_TYPE,ACTOR1,ASSOC_ACTOR_1,...,ADMIN2,ADMIN3,LOCATION,LATITUDE,LONGITUDE,GEO_PRECISION,SOURCE,SOURCE_SCALE,NOTES,FATALITIES
1507,840,USA5990,5990,2020-06-01,2020,1,Riots,Violent demonstration,Rioters (United States),BLM: Black Lives Matter,...,Cook,NaN,Cicero,41.845,-87.756,1,AP,International,"On 1 June 2020, people demonstrated and rioted...",2
8887,840,USA2778,2778,2020-07-19,2020,1,Violence against civilians,Attack,Sole Perpetrator (United States),NaN,...,Middlesex,NaN,North Brunswick,40.467,-74.457,1,USA Today,National,"On 19 July 2020, a man shot at family members ...",2
11417,840,USA11280,11280,2020-08-25,2020,1,Riots,Violent demonstration,Rioters (United States),BLM: Black Lives Matter,...,Kenosha,NaN,Kenosha,42.585,-87.824,1,MilitiaWatch; New York Times; Washington Post,Local partner-New media,"On 25 August 2020, about 1,000 demonstrators g...",2

In [ ]:
# Looking at the Notes columns to see the details surround the event
demonstrate_2_fatal.NOTES

## Looking at the notes of each event individually

In [15]:
demonstrate_2_fatal.NOTES[1507]

'On 1 June 2020, people demonstrated and rioted, vandalizing and looting stores, in Cicero (Illinois) in support of the Black Lives Matter movement and against police brutality. Police intervened and 60 people were arrested. Two bystanders were shot dead during the riot. [size=at least 60]'

In [16]:
demonstrate_2_fatal.NOTES[8887]

'On 19 July 2020, a man shot at family members of a US District Judge, Esther Salas, close to New Brunswick in the North Brunswick Township (New Jersey). The son died, while the husband was injured seriously. The man posed as a Fedex delivery man. Salas was nominated by former President Obama and confirmed. She was the first Latina magistrate in New Jersey. The suspect was a self-described anti-feminist and was later found dead from a self-inflicted gun wound.'

In [17]:
demonstrate_2_fatal.NOTES[11417]

'On 25 August 2020, about 1,000 demonstrators gathered outside the courthouse in Kenosha (Wisconsin) in support of the Black Lives Matter movement and against police brutality and the deaths of both George Floyd and Jacob Blake. Demonstrators set off fireworks aimed at officers, while police shot tear gas pellets and rubber bullets into the crowd. A teenager shot and killed two demonstrators and injured another car dealership. The teenager was responding to a Kenosha Guard call-to-action called the "Armed Citizens to Protect our Lives and Property" and joined a security detail including the Kenosha Guard and local Boogaloo Bois, but reportedly was not a member of the two groups. Police reportedly welcomed the suspect and other armed individuals present at the demonstration prior to the shooting. The teenager was not detained at the scene, but was later arrested and has since been charged with homicide. [size=about 1000]'

In [18]:
# Getting all rows where there was 1 fatality
demonstrate_1_fatal=data.loc[data['FATALITIES'] == 1]

In [19]:
demonstrate_1_fatal.describe()

,ISO,EVENT_ID_NO_CNTY,YEAR,TIME_PRECISION,INTER1,INTER2,INTERACTION,ADMIN3,LATITUDE,LONGITUDE,GEO_PRECISION,FATALITIES
count,48.0,48.000000,48.0,48.0,48.000000,48.000000,48.000000,0.0,48.000000,48.000000,48.0,48.0
mean,840.0,8296.854167,2020.0,1.0,2.583333,5.125000,21.958333,NaN,37.654812,-101.234708,1.0,1.0
std,0.0,4354.861265,0.0,0.0,1.976816,2.523296,12.140942,NaN,5.746803,16.111064,0.0,0.0
min,840.0,376.000000,2020.0,1.0,1.000000,1.000000,13.000000,NaN,28.535000,-122.773000,1.0,1.0
25%,840.0,4668.750000,2020.0,1.0,1.000000,3.000000,17.000000,NaN,33.443500,-118.188750,1.0,1.0
50%,840.0,10438.500000,2020.0,1.0,1.000000,7.000000,17.000000,NaN,37.804000,-97.740000,1.0,1.0
75%,840.0,11692.000000,2020.0,1.0,5.000000,7.000000,17.000000,NaN,41.850000,-87.277000,1.0,1.0
max,840.0,14135.000000,2020.0,1.0,6.000000,7.000000,57.000000,NaN,47.617000,-75.164000,1.0,1.0

In [20]:
demonstrate_1_fatal.NOTES

6        On 25 May 2020, four Minneapolis police office...
15       Other: On 25 May 2020, an Arizona Department o...
32       On 27 May 2020, a Black Lives Matter demonstra...
55       On 28 May 2020, thousands of people demonstrat...
176      On 29 May 2020, during a demonstration in Oakl...
332      On 30 May 2020, over 2,000 people demonstrated...
340      On 30 May 2020, up to 1,000 people gathered as...
834      On 31 May 2020, during a Black Lives Matter de...
1397     On 1 June 2020, demonstrators supporting the B...
1449     On 1 June 2020, demonstrators threw rocks at p...
1820     Other: On 1 June 2020, a black barbecue owner,...
1927     On 2 June 2020, hundreds of people staged a ma...
2330     On 2 June 2020, in Vallejo (California), a pol...
2799     On 3 June 2020, about 100 people demonstrated ...
4279     On 6 June 2020, an armed clash ensued between ...
5427     On 12 June 2020, an Atlanta police officer sho...
6216     On 15 June 2020, Tremaine Howell was found dea...
6548     On 19 June 2020, an inmate at Lake Correctiona...
6834     Other: On 20 June 2020, inside the "Capitol Hi...
7336     On 27 June 2020, people staged a march at Jeff...
7584     On 29 June 2020, in the "Capitol Hill Organize...
7717     On 2 July 2020, a police officer in Sheboygan ...
7876     On 4 July 2020, a "Black Femme March" was held...
7951     On 4 July 2020, an unknown number of people de...
7977     Other: On 4 July 2020, police fatally shot Jam...
8048     On 5 July 2020, a verbal altercation broke out...
8260     Other: On 9 July 2020, a man aiming a pellet g...
9253     On 25 July 2020, BLM supporters marched in pro...
9999     On 4 August 2020, three police officers restra...
10000    On 4 August 2020, police officers shot and kil...
10067    Other: On 5 August 2020, police fatally shot V...
10151    On 7 August 2020, a Georgia state trooper shot...
10153    Other: On 7 August 2020, a Black man, Salaythi...
10410    Other: On 11 August 2020, police officers fata...
10616    Other: On 15 August 2020, police shot and kill...
10961    Other: On 21 August 2020, police tased a Black...
11459    Other: On 25 August 2020, police responded to ...
11553    On 27 August 2020, about 50 to 60 hurricane ev...
11781    On 29 August 2020, about 600 vehicles staged a...
11930    Other: On 31 August 2020, a civilian (Miguel V...
11941    Other: On 31 August 2020, Los Angeles County S...
12057    Other: On 2 September 2020, police shot an 18-...
12081    Other: On 3 September 2020, police shot and ki...
12741    Other: On 13 September 2020, a police officer ...
12859    Other: On 15 September 2020, police officers f...
12941    Other: On 17 September 2020, the police were i...
13264    Other: On 23 September 2020, two homeless liai...
13945    On 3 October 2020, a police officer tasered an...
Name: NOTES, dtype: object

In [21]:
demonstrate_1_fatal.NOTES[6]

'On 25 May 2020, four Minneapolis police officers arrested a Black man, George Floyd, in Minneapolis (Minnesota) for allegedly using a counterfeit 20 dollar bill at a store. One white police officer knelt on Floyd\'s neck for a total of 8 minutes and 46 seconds, leading to his death. Prior to this, the four officers handcuffed Floyd and held him in a facedown position. Three of the officers applied pressure to his neck, torso, and back. Floyd repeatedly said "I can\'t breathe" before falling unconscious. Floyd was taken away by EMTs and later pronounced dead. All four officers were fired. The officer who used his knee to pin Floyd down was charged with second-degree murder. The other three officers were charged with aiding and abetting the murder. This event has galvanized support for the Black Lives Matter movement and triggered demonstrations worldwide.'

In [22]:
demonstrate_1_fatal.NOTES[12741]

'Other: On 13 September 2020, a police officer fatally shot Ricardo Munoz, a Latino man with mental illness, in Lancaster (Pennsylvania) after responding to a domestic disturbance call, where the man chased the officer down the street with a knife. This event prompted multiple protests.'

In [24]:
# I will use this random fatality to look further into the specific incident and the demonstrations that took place as a result
demonstrate_1_fatal.NOTES[10961]

'Other: On 21 August 2020, police tased a Black man while responding to a disturbance call involving a person armed with a knife, in Lafayette (Louisiana). The police officers continued to pursue him after he was tasered, surrounding him at the entrance of a Shell station and killing him after firing 11 rounds. The incident has sparked demonstrations, with activists calling it "inappropriate and excessive use of force" by the police.'

Here is the link to the an article describing the event in more full detail:
https://www.theadvocate.com/acadiana/news/crime_police/article_93043d66-e48a-11ea-b7c6-77838e38234d.html

.
### NFAC protest in Lafayette over the police shooting of Trayford Pellerin ends peacefully

###### By Kelly Murray, Angela Barajas and Ryan Young, CNN
https://www.cnn.com/2020/10/04/us/louisiana-gun-discharge-demonstration-trayford-pellerin-death/index.html